.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.header {
    font-size: 30px;
    text-align: center;
}

.article__title {
    text-align: center;
}

.footer {
    text-align: center;
}

.comments__comment {

}

.sidebarHeader {
    font-size: 20px;
    text-align: center;
}

.sidebar ul {
    padding-left: 20px;
}

a, a:visited {
    color: darkgreen;
}